* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.plist text eol=lf
*.xml text eol=lf
*.desktop text eol=lf
*.manifest text eol=lf
packaging/linux/* text eol=lf
*.nsi text eol=lf
*.nsh text eol=lf
*.bat text eol=lf
*.sh text eol=lf

*.png binary
*.ico binary
*.woff2 binary
